[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/hazevich/glfw
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/hazevich/imgui
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/hazevich/stb
[submodule "dependencies\\rapidjson"]
	path = dependencies\\rapidjson
	url = https://github.com/hazevich/rapidjson
